* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
  background-color: #eee;
  color: #191919;
}

h7 {
  font-size: 105px;
}

h6 {
  font-size: 90px;
}

h5 {
  font-size: 75px;
}

h4 {
  font-size: 60px;
}

h3 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h1 {
  font-size: 15px;
}

.btn-primary {
  background-color: blue;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
}

.btn-secondary {
  background-color: gray;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
}

.btn-light {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
  color: #191919;
}

.btn-danger {
  background-color: red;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
}

.btn-dark {
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
}

.btn-sm {
  background-color: 400px;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
}

.btn-xl {
  background-color: 768px;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #eee;
}

.card {
  width: 400px;
  height: 768px;
  background-color: black;
}

.d-flex, .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tamanio, .card {
  width: 50%;
  height: 300px;
}

.card {
  flex-direction: row;
  background-color: black;
  color: #eee;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 10px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 500px;
  height: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 153, 17, 0.6);
  margin: 10px;
}

h1 {
  color: red;
}

body {
  background-color: #77f4b3;
}

.nav__list {
  display: flex;
  align-items: center;
  background-color: #191919;
}
.nav__list__item {
  padding: 200px;
  list-style: none;
}
.nav__list__item .pepito {
  color: #eee;
  font-size: 24px;
  text-decoration: none;
}
.nav__list__item .pepito:hover {
  color: red;
}
.nav__list ul {
  display: flex;
}
.nav__list ul li {
  color: #eee;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.navegador {
  display: flex;
  background-color: #191919;
  padding: 30px;
}
.navegador ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.navegador ul li {
  list-style-type: none;
}
.navegador ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #eee;
  background-image: linear-gradient(to right, rgb(73, 73, 239), rgb(213, 89, 190));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2%;
  transition: 0.3s;
}
.navegador ul li a:hover {
  background-size: 100% 5px;
}

.gradiente {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.588), rgba(31, 31, 31, 0.741)), url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  height: 500px;
  width: 500px;
  color: #eee;
  transition: 1s;
}
.gradiente:hover {
  transform: scale(1.1, 1.1);
}
.gradiente h2 {
  font-size: 70px;
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(73, 73, 239), rgb(213, 89, 190));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cajas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 0;
}
.cajas .caja {
  width: 300px;
  height: 300px;
  background-color: rgb(131, 131, 224);
  background: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  border-radius: 100%;
  transition: 0.5s;
}
.cajas .caja:hover {
  transform: rotateZ(360deg);
  transform: scale(1.1, 1.1);
  transform: rotate(30deg);
  border-radius: 0%;
  box-shadow: 10px 10px 0px 0px #272727;
  transform: skew(30deg, 5deg);
}

.efecto {
  width: 400px;
  height: 400px;
  background-color: #191919;
  animation-name: movimiento;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes movimiento {
  0% {
    background-color: red;
    transform: translate(0%, 0);
  }
  25% {
    background-color: blue;
    transform: translate(25%, 50%);
  }
  50% {
    background-color: green;
    transform: translate(50%, 30%);
    border-radius: 100%;
  }
  75% {
    background-color: yellow;
    transform: translate(25%, 100%);
  }
  100% {
    background-color: pink;
    transform: translate(0%, 2%);
  }
}
.contenedor {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 30px;
  position: relative;
}
.contenedor:hover {
  animation: mover 2s linear infinite;
}

.animacion {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes mover {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.slider {
  width: 100%;
  height: 600px;
  animation: slider 15s ease-in-out infinite;
  background-color: #191919;
}

@keyframes slider {
  0% {
    background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
  }
  25% {
    background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
    background-size: cover;
  }
  50% {
    background-image: url("https://plus.unsplash.com/premium_photo-1676481691647-3ac59aea5667?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
  }
  75% {
    background-image: url("https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
  }
}
.slido {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  animation: fade 3s ease-in-out infinite;
}

.item1 {
  background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  animation-delay: 0s;
}

.item2 {
  background-image: url("https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  animation-delay: 5s;
}

.item3 {
  background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
  animation-delay: 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
