//variables de colores
$bg-dark: #77f4b3;
$bg-white: #eee;

//variables de fuentes
$main-font: Verdana, Geneva, Tahoma, sans-serif;

//variables de tamaños
$sm: 24px;

//variables botones
$tipo: secondarsy;

